h3 {
    color: red
}


body {
    background-color: #F8F8F8!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}

ul {
    padding: 0 ;
}

.social-links ul, li {
    display: inline-block;
} 


.fa {
    padding: 10px;
    font-size: 50px;
    width: 35px;
    text-align: center;
    text-decoration: none;
}


.fa:hover {
    opacity: 0.7;
}
  

.fa-facebook-square {
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}

.fa-github {
      color: black;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }